<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from docker</title>
</head>
<body>
    <h1 style="color:red;position: relative; left: 4%;">Inception</h1>
    
    <h2 style="color:brown; position: relative; left: 10%;">Requirement</h2>

    <h3 style="color:rgb(110, 1, 1); position: relative; left: 15%">Mandatory</h3>

    <div style="font-size: 20px; position: relative; left:18%">
    • A Docker container that contains NGINX with TLSv1.2 or TLSv1.3 only.<br>
    • A Docker container that contains WordPress + php-fpm (it must be installed and<br>
    configured) only without nginx.<br>
    • A Docker container that contains MariaDB only without nginx.<br>
    • A volume that contains your WordPress database.<br>
    • A second volume that contains your WordPress website files.<br>
    • A docker-network that establishes the connection between your containers.</div>
    
    <h3 style="color:rgb(110, 1, 1); position: relative; left: 15%">Bonus</h3>
    <div style="font-size: 20px; position: relative; left:18%">
        • FTP Server.<br>
        • Redis-Cache.<br>
        • Adminer.<br>
        • Choice service<br>
        • Website (Where you're reading this right now)</div>

</body>
</html>